*
  padding 0
  margin 0
  box-sizing border-box

body,html
  heigth 100%
  background #FAEDD5
  font-family var(--font-family-sans-serif),'Noto Sans TC' 


#home
  margin-top 5rem
  display flex
  flex-direction column
  justify-content space-around
  align-items center
  overflow contain

  h2
    margin-bottom 20px
    
  h3
    margin 1rem
  .bgmusic
    border 1px solid transparent
    background transparent

  #tomotoimg
        animation:hue-rotate 10s infinite alternate ease
        @keyframes hue-rotate
            0%
                // filter:hue-rotate(360deg)
                background-color green
                border-radius 50%
                
            50%
            // filter:hue-rotate(360deg)
                background-color orange
                border-radius 50%
                
            100%
                // filter:hue-rotate(360deg)
                background-color red
                border-radius 50%
            


#settings
  thead 
    background #FD9442
    // border 1px solid #C97534
    color white
  tr
    line-height 40px
  th
    padding 0    
    text-align center
    width 33%
  
  svg
    margin-top -5px
  
  

 
  @media (max-width: 500px)
    audio
      width 170px
      height 55px
     tbody>tr>td
      font-size 14px

#app  
  -webkit-font-smoothing antialiased
  -moz-osx-font-smoothing grayscale
  text-align center
  color #2c3e50
  height 100%
 
  span,td,th
    font-size 20px  
  svg
    font-size 22px

  #nav
    position absolute
    bottom 20px
    width 100%
    
    svg
      width 33%
      font-size 50px
      color #641E2B

#list
  margin-top 60px
  width 100%
  display flex
  flex-direction column
  justify-content center
  align-items center
  table
    width 88%

    @media (min-width: 501px)
      width 77%
      margin-left -0.75rem

  thead 
    background #FD9442
    color white
    width 50%
    
    tr
      width 50%

    .pencil
      font-size 100px
   

  .newtodo
    @media (max-width: 500px)
      margin-left 0.5rem

